<h2>Feeds</h2>

<ul class="feeds">
	
	<li class="feed">
		<h3 class="title"><a href="/search/feed/URL">Hectic Jeffs Tweets</a> <span class="feedLink">(<a href="">http://search.twitter.com/blabhblah</a>)</span></h3>
		<blockquote class="lastResult">@girlygeekdom and @nickhalstead  friend @tholder is in a geek dev competition this weekend and had igned up for Datasift.  Needs aPI access</blockquote>
		
		<p class="summary">
			<span class="inlinesparkline">20,1,5,16,36,8,9,7</span>
			<span class="totalResults"><a href="">356,456 results since</a> Friday, 16th December 2010</span>
		</p>
		
	</li>
											
</ul>